[flake8]
max-line-length = 88
extend-ignore = E203
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.venv,alembic
max-complexity = 10
per-file-ignores =
    scripts/seed_data.py:E501
    scripts/fix_hashes.py:E501

