.venv/
.env
.env.*
!.env.example
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.git/
.github/
.gitignore
.mypy_cache/
.ruff_cache/
htmlcov/
coverage/
*.log
tests/
docs/
*.md
docker/*
!docker/start.sh
scripts/
*.sqlite3
alembic/versions/
.vscode/
.idea/
