[flake8]
max-line-length = 120
extend-ignore = E203, W503, E501, E402, F541
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,venv,.venv,alembic
per-file-ignores =
    # Imported but unused
    __init__.py: F401
